@charset "utf-8";
/* CSS Document */

.mainImage {
	height: calc(100vh - 76px);
	width: 100vw;
	position: absolute;
	left: 0px;
	top: 76px;
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.10) , rgba(255, 255, 255, 0) 260px), linear-gradient(to bottom, rgba(255, 255, 255, 0.10) , rgba(255, 255, 255, 0) 50%),url("body.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

.arrow {
	filter: brightness(0) invert(1);
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
}

.login {
	transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
	display: inline-block;
	background: #007bff;
	padding: 10px 20px 12px 20px;
	margin-left: 20px;
	cursor: pointer;
}

.login:hover {
	background: rgb(240,0,0);
}

.mission {
	position: absolute; 
	left: 0px;
	top: 76px;
	width: 15%;
	min-width: 300px;
	background-color: #263360;
	color: white;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	text-align: right;
	vertical-align: middle;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
}

.mission:hover {
	min-width: 330px;
	background-color: white;
	color: #263360;
	width: 18%;
	cursor: pointer;
}

.mission:hover .arrow { 
	filter: none;
}
.text-choices {
	z-index: 2;
	color: white;
	float: right;
	font-size: 20px;
	margin-top: 10px;
	margin-right: 15px;
}
.mainMenu {
	background-color: #4b7438;
	height: 150px;
	width: 60%;
	position: absolute;
	left: 20%;
	top: 150px;
	border-radius: 20px;
	min-width: 800px;
	max-width: 1200px;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.30);
}

.main-nav {
	top: 13px;
}

@media only screen and (max-width: 950px) {
	.mainMenu {
	  left: calc(50% - 400px) !important;
	}
  }

@media only screen and (max-width: 1333px) {
  .mainMenu {
    left: calc(50% - 400px) !important;
  }
}

@media only screen and (min-width: 2000px) {
  .mainMenu {
    left: calc(50% - 600px) !important;
  }
}

/* ~~~~~~~ INIT. BTN ~~~~~~~ */


.btn {	
	color: white;
	z-index: 2;
	font-size: 40px;
	position: relative;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	transition-delay: .5s;
	color: white;
}

.btn:hover:before {
	transition-delay: 0s;
	color: white;
}

.btn:hover:after {
	/*background: var(--inv); */
	color: white;
	transition-delay: .35s;
}

/* From Top */

.from-top:before, 
.from-top:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-top:before {
	bottom: 0;	
	border: 1px white;
	border-top: 0;
	border-bottom: 0;
}

.from-top:after {
	top: 0;
	height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
	height: 100%;
}

/* From center */

.from-center:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid white;
	border-left: 0;
	border-right: 0;
}

.from-center:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	/*background: var(--inv);*/
}

.from-center:hover:before {
	left: 0;
	width: 100%;
}

.from-center:hover:after {
	top: 0;
	height: 100%;
}

@font-face {
  font-family: lato;
  src: url('lato.ttf');
}


/* ~~~~~~~~~~~~ GLOBAL SETTINGS ~~~~~~~~~~~~ */

*, *:before, *:after {
	font-family: lato;
	box-sizing: border-box;
}

