@charset "utf-8";
/* CSS Document */

body {
	display: flex;
	flex-direction: column;
	height: 100%;
  }
  
  main {
	flex: 1 0 auto;
	min-height: auto;
  }
  
  .site-footer
  {
	background-color:#26272b;
	padding:25px 0 20px;
	font-size:15px;
	line-height:24px;
	color:#737373;
  }
  .site-footer hr
  {
	border-top-color:#bbb;
	opacity:0.5
  }
  .site-footer hr.small
  {
	margin:20px 0
  }
  .site-footer h6
  {
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
	margin-top:5px;
	letter-spacing:2px
  }
  .site-footer a
  {
	color:#737373;
  }
  .site-footer a:hover
  {
	color:#007bff;
	text-decoration:none;
  }
  .footer-links
  {
	padding-left:0;
	list-style:none
  }
  .footer-links li
  {
	display:block
  }
  .footer-links a
  {
	color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
	color:#007bff;
	text-decoration:none;
  }
  .footer-links.inline li
  {
	display:inline-block
  }
  .site-footer .social-icons
  {
	text-align:right
  }
  .site-footer .social-icons a
  {
	width:40px;
	height:40px;
	line-height:40px;
	margin-left:6px;
	margin-right:0;
	border-radius:100%;
	background-color:#33353d
  }
  .copyright-text
  {
	margin:0
  }
  @media (max-width:991px)
  {
	.site-footer [class^=col-]
	{
	  margin-bottom:30px
	}
  }
  @media (max-width:767px)
  {
	.site-footer
	{
	  padding-bottom:0
	}
	.site-footer .copyright-text,.site-footer .social-icons
	{
	  text-align:center
	}
  }
  
	  /* Remove the navbar's default margin-bottom and rounded borders */ 
	  .navbar {
		margin-bottom: 0;
		border-radius: 0;
		background-color: #fff;
	  }
	  
	  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
	  .row.content {height: 100%}
	  
	  .nav-item {
		  margin-left: 10px;
	  }
	  /* Set gray background color and 100% height */
	  .sidenav {
		padding-top: 20px;
		background-color: #f1f1f1;
		height: 100%;
	  }
	  
	  /* Set black background color, white text and some padding */
	  footer {
		background-color: #555;
		color: white;
		padding: 15px;
	  }
  
	  /* On small screens, set height to 'auto' for sidenav and grid */
	  @media screen and (max-width: 767px) {
		.sidenav {
		  height: auto;
		  padding: 15px;
		}
		.row.content {height: auto} 
	  }
	  
	  body {
		  background-color: #f1f1f1;;
	  }
  
	  .logButton {
		  padding: 8px 15px 8px 15px; 
		  background-color: #007bff; 
		  color: white !important; 
		  border-radius: 4px; 
		  cursor: pointer;
		  transition: 0.4s;
		  border: solid 1px #007bff;
		  margin-left: 10px;
	  }
  
	  .logButton:hover {
		  padding: 8px 15px 8px 15px; 
		  background-color: white; 
		  color: #007bff !important; 
		  border-radius: 4px; 
		  cursor: pointer;
		  border: solid 1px #007bff;
	  }